/* -- Base Element Styles -- */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
  color: grey;
  margin: 0;
}
ul {
  margin: 0;
  padding: 1rem;
  list-style: none;
}
P {
  font-size: 100%;
  margin-bottom: 1.8em;
  padding-left: .5rem;
  padding-bottom: .5rem;
}
h1 {
  color: lightslategray;
  margin: 0 auto;
}
h2,
h3,
a {
  color: lightsteelblue;
}
h2 {
  padding: .5rem;
}
img {
  max-width: 100%;
}

/* -- Base Layout Styles -- */
.name {
  padding-right: 1rem;
  font-size: 1.85em;
  margin: 0;
}
.main-nav {
  padding-top: 5px;
}
.main-nav a {
  text-align: right;
  display: block;
}
.main-nav a {
  text-transform: uppercase;
}
/* -- Layout Containers -- */
.main-header {
  padding-top: 1.5rem;
}










/* -- Media Queries -- */
@media (min-width: 768px) {


}
@media (min-width: 1024px) {
    

}