/* -- Base Element Styles -- */

* {
  box-sizing: border-box;
}
body {
  font-family: "Tahoma", sans-serif;
  background-color:whitesmoke;
  margin: 0;
}
img {
  max-width: 90%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
a {
  color: black;
}
a {
  text-decoration: none;
}
p {
  padding: 8px;
  padding-top: 15px;
  font-weight: 500;
}
.unit .p {
  font-weight: 500;
}
/* -- Base Layout Styles -- */

.main-header,
.header-flex,
.nav,
.intro-unit,
.container,
.unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:azure; 
}
.name {
  font-size: 1.35em;
  text-align: center;
  margin: 0;
}
.intro-title {
  text-align: center;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 8px;
  margin-top: 10px;
}
.main-nav {
  margin-top: 5px;
}
.nav-link {
  list-style-type: none;
  background-color: aliceblue;
  margin-bottom: .5em;
  text-align: center;
}
.nav li a {
  display: block;
  padding: .5em;
  text-decoration: none;
}
.main-nav a {
  padding: .5em;
}
.container {
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}
.logo {
  padding: 5px 5px 5px 5px;
}

/* -- Layout Containers -- */
h1 a {
  padding: 0px;
}
.intro-unit,
.main-footer {
  text-align: center;
}
.intro-unit img {
  margin: auto;
  width: 65%;
}
.intro-text {
 color:black;
 background: aliceblue;
 padding: 9px 9px 9px 9px;
 margin-top: 25px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items:center;
}
.main-footer {
  color: floralwhite;
  background-color: azure;
  margin-top: 25px;
  padding: 14px 10px 11px 10px;
} 
.container {
  padding-right: 1em;
  padding-left: 1em;
}
.unit {
  padding: 10px 10px 10px 10px;
}
.footer-contact {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}
#home-footer,
#portfolio-footer,
#contact-footer {
  display: none;
}

/* -- Media Queries -- */
@media screen and (min-width:768px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  .unit {
    width: 45%;
  }
}


  

/* -- Flex Box -- */
