/* -- Base Element Styles -- */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: royalblue;
}
h1 {
  color: lightslategray;
}
h2,
h3,
a {
  color: lightsteelblue;
}

/* -- Base Layout Styles -- */
.main-nav {
  width: 100%;
  background: lightslategray;
  min-height: 30px;
  padding: 15;
  position: fixed;
  text-align: center;
}
.nav .name {
  display: block;
  margin-right: auto;
  color:silver;
  font-weight: 700;
}
.nav li {
  padding: 10px 10px 10px 10px;
  color: skyblue;
}
.nav-link {
  font-weight: 700;
}

/* -- Layout Containers -- */
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 2.5%;
}
.intro-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: auto;
}
/* -- Media Queries -- */
@media (min-width: 768px) {


}
@media (min-width: 1024px) {
    

}